.navbar-menu
.navbar {
  border-radius: 30px;    
  }

.navbar-divider {
  background-color: rgb(255, 255, 255);
}

.navbar-item,
.navbar-item:focus,
.navbar-item:focus-within,
.navbar-item.is-active {
  color: black;
  background-color: rgb(246, 245, 242) !important; /* Your custom background */
  color: #170c0c !important;           /* Your custom text color */
}
.navbar-dropdown,
.navbar-link,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link.is-active {
  color: black;
  background-color: rgb(246, 245, 242)!important; /* Matches navbar-item */
  color: rgb(4, 4, 3) !important;
  border-top: 2px solid hsl(0, 0%, 100%);
}

.navbar-link:hover,
.navbar-item:hover{
  background-color: rgb(249, 241, 241) !important; /* Matches navbar-item */

}


.select select, .taginput .taginput-container.is-focusable, .textarea, .input {
  background-color: rgb(247, 255, 248);
}

.select select[disabled], .taginput [disabled].taginput-container.is-focusable, [disabled].textarea, [disabled].input, fieldset[disabled] .select select, .select fieldset[disabled] select, fieldset[disabled] .taginput .taginput-container.is-focusable, .taginput fieldset[disabled] .taginput-container.is-focusable, fieldset[disabled] .textarea, fieldset[disabled] .input {
  background-color: hsl(0, 53%, 93%);
  border-color: hsl(0, 25%, 90%);
  box-shadow: none;
  color: hsl(0, 0%, 12%);}

  .footer {
    background-color: rgb(246, 245, 242);
  }

  .content table td, .content table th {
    border: 1px solid hsl(0, 0%, 86%);
    border-width: 0 0 1px;
    
    padding: 0.1em 0.1em;
    padding-top: 3em 3em;
    vertical-align: top;
}

.card-content {
  padding: 0.5rem;
}

.box {
  padding: 0.9rem;
}
.pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis, .file-cta, .file-name, .select select, .taginput .taginput-container.is-focusable, .textarea, .input{
padding-left: 3px;
padding-right: 3px;
padding-top: 2px;
padding-bottom: 2px;
}

.table {
  background-color: rgb(248, 248, 248);
}



:root {
  /*General*/
  --dp-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
  --dp-border-radius: 4px; /*Configurable border-radius*/
  --dp-cell-border-radius: 4px; /*Specific border radius for the calendar cell*/
  --dp-common-transition: all 0.1s ease-in; /*Generic transition applied on buttons and calendar cells*/

  /*Sizing*/
  --dp-button-height: 35px; /*Size for buttons in overlays*/
  --dp-month-year-row-height: 35px; /*Height of the month-year select row*/
  --dp-month-year-row-button-size: 35px; /*Specific height for the next/previous buttons*/
  --dp-button-icon-height: 20px; /*Icon sizing in buttons*/
  --dp-cell-size: 35px; /*Width and height of calendar cell*/
  --dp-cell-padding: 5px; /*Padding in the cell*/
  --dp-common-padding: 10px; /*Common padding used*/
  --dp-input-icon-padding: 35px; /*Padding on the left side of the input if icon is present*/
  --dp-input-padding: 2px 5px 2px 4px; /*Padding in the input*/
  --dp-menu-min-width: 260px; /*Adjust the min width of the menu*/
  --dp-action-buttons-padding: 2px 5px; /*Adjust padding for the action buttons in action row*/
  --dp-row-margin:  5px 0; /*Adjust the spacing between rows in the calendar*/
  --dp-calendar-header-cell-padding:  0.5rem; /*Adjust padding in calendar header cells*/
  --dp-two-calendars-spacing:  10px; /*Space between multiple calendars*/
  --dp-overlay-col-padding:  3px; /*Padding in the overlay column*/
  --dp-time-inc-dec-button-size:  32px; /*Sizing for arrow buttons in the time picker*/
  --dp-menu-padding: 6px 8px; /*Menu padding*/
  
  /*Font sizes*/
  --dp-font-size: 1rem; /*Default font-size*/
  --dp-preview-font-size: 0.8rem; /*Font size of the date preview in the action row*/
  --dp-time-font-size: 0.8rem; /*Font size in the time picker*/
  
  /*Transitions*/
  --dp-animation-duration: 0.1s; /*Transition duration*/
  --dp-menu-appear-transition-timing: cubic-bezier(.4, 0, 1, 1); /*Timing on menu appear animation*/
  --dp-transition-timing: ease-out; /*Timing on slide animations*/
}