// Import Bulma's core

@import "~bulma/sass/utilities/_all";


$bulma-scheme-main: rgb(230, 240, 247);
$bulma-scheme-main-l: rgb(230, 240, 247);
$bulma-background: rgb(230, 240, 247);
$background-color: black;

// Set your colors
$primary: #864b7e;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

$bulma-scheme-main: rgb(230, 240, 247);
$bulma-scheme-main-l: rgb(230, 240, 247);
$bulma-background: rgb(230, 240, 247);
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles


@import "~bulma";
@import "~buefy/src/scss/buefy";

$bulma-scheme-main: rgb(230, 240, 247);
$bulma-scheme-main-l: rgb(230, 240, 247);
$bulma-background: rgb(230, 240, 247);