// Import Bulma's core
@import "~bulma/sass/utilities/_all";
// Set your colors
$primary: rgb(121, 87, 87);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$column-gap: 0.3rem;
$column-padding: 10rem;


$warning: rgb(255, 230, 169);
$success: #61ad6e;
$info: #659287;
$active: rgb(158, 225, 103);

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),    
        "active": (
            $active,
            findColorInvert($active),
            findLightColor($active),
            findDarkColor($active)
        ),
    ),
    $custom-colors
);

$scheme-main: rgb(246, 245, 242);
$scheme-main-l: rgb(246, 245, 242);
$background-color: rgb(144, 203, 241);
$input-placeholder-color: rgba(20, 39, 124, 0.582);
$section-padding-desktop: 1rem 1rem;
$section-padding: 1rem 1rem;
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles


@import "~bulma";
@import "~buefy/src/scss/buefy";

