.navbar-menu
.navbar {
  border-radius: 30px;    
  }

.navbar-divider {
  background-color: rgb(255, 255, 255);
}

.navbar-item,
.navbar-item:focus,
.navbar-item:focus-within,
.navbar-item.is-active {
  color: black;
  background-color: rgb(246, 245, 242) !important; /* Your custom background */
  color: #170c0c !important;           /* Your custom text color */
}
.navbar-dropdown,
.navbar-link,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link.is-active {
  color: black;
  background-color: rgb(246, 245, 242)!important; /* Matches navbar-item */
  color: rgb(4, 4, 3) !important;
  border-top: 2px solid hsl(0, 0%, 100%);
}

.navbar-link:hover,
.navbar-item:hover{
  background-color: rgb(249, 241, 241) !important; /* Matches navbar-item */

}


.select select, .taginput .taginput-container.is-focusable, .textarea, .input {
  background-color: rgb(247, 255, 248);
}

.select select[disabled], .taginput [disabled].taginput-container.is-focusable, [disabled].textarea, [disabled].input, fieldset[disabled] .select select, .select fieldset[disabled] select, fieldset[disabled] .taginput .taginput-container.is-focusable, .taginput fieldset[disabled] .taginput-container.is-focusable, fieldset[disabled] .textarea, fieldset[disabled] .input {
  background-color: hsl(0, 53%, 93%);
  border-color: hsl(0, 25%, 90%);
  box-shadow: none;
  color: hsl(0, 0%, 12%);}

  .footer {
    background-color: rgb(246, 245, 242);
  }

  .content table td, .content table th {
    border: 1px solid hsl(0, 0%, 86%);
    border-width: 0 0 1px;
    
    padding: 0.1em 0.1em;
    padding-top: 3em 3em;
    vertical-align: top;
}